*.pyc
*~
*.so
/configure
/lib/cgpt/build
/dependencies
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/lib/Makefile.in
ltmain.sh
/m4/
missing
/py-compile
