*.pyc
*~
*.swp
*.swo
*.so
*.err
*.out
/.clangd
/.vscode
/configure
/build
/dependencies
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/install
/lib/gpt/Makefile.in
/lib/cgpt/Makefile.in
ltmain.sh
/m4/
missing
/py-compile
*pycache*
/tests/run-*
/config.h.in
/lib/gpt/pyfiles.inc
/lib/cgpt/ccfiles.inc
/lib/cgpt/hfiles.inc
*.coverage*
coverage.xml
/docker/play/gpt-packages/*.deb
*ipynb_checkpoints*
